<!--<div layout-gt-md="row">
  <panel-widget flex title="Site visitors" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Warnings" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
</div>-->

<div class="row" ng-controller="LatestPurchasesController">
    <div class="col-md-4">
        <section layout-margin class="md-whiteframe-z1 panel-widget">
            <h class="pull-right" style="margin: 0;font-size: smaller">#3892179</h>
            <br>
            <div style="text-align: center"><h5 style="font-weight: 700; font-size: large">Sport shoes</h5></div>
            <div class="row">
                <div class="col-md-2" style="padding: 0"><h ><i class="fa fa-gbp" aria-hidden="true"></i> 760</h></div>
                <div class="col-md-6" style="padding: 0"> <h ><i class="fa fa-home" aria-hidden="true"></i> House of Fraisers</h></div>
                <div class="col-md-4" style="padding: 0"> <h ><i class="fa fa-calendar-o" aria-hidden="true"></i> 21-10-1995</h></div>

                <div class="row" style="text-align: center; margin-top: 25px">
                    <i class="fa fa-arrow-up" data-toggle="Too high" style="color: red; font-size: xx-large" aria-hidden="true"></i>
                </div>
                <div class="row" style="text-align: center">
                    <div class="col-md-6" style="padding: 8px;padding-bottom: 0">
                        <div class="btn" style="width: 100%">
                            Check prices
                        </div>
                    </div>

                    <div class="col-md-6" style="padding: 8px; padding-bottom: 0">
                        <div class="btn" style="width: 100%">
                            Check trend
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-4">
        <section layout-margin class="md-whiteframe-z1 panel-widget">
            <h class="pull-right" style="margin: 0;font-size: smaller">#3892179</h>
            <br>
            <div style="text-align: center"><h5 style="font-weight: 700; font-size: large">Sport shoes</h5></div>
            <div class="row">
                <div class="col-md-2" style="padding: 0"><h ><i class="fa fa-gbp" aria-hidden="true"></i> 760</h></div>
                <div class="col-md-6" style="padding: 0"> <h ><i class="fa fa-home" aria-hidden="true"></i> House of Fraisers</h></div>
                <div class="col-md-4" style="padding: 0"> <h ><i class="fa fa-calendar-o" aria-hidden="true"></i> 21-10-1995</h></div>

                <div class="row" style="text-align: center; margin-top: 25px">
                    <i class="fa fa-arrow-up" data-toggle="Too high" style="color: red; font-size: xx-large" aria-hidden="true"></i>
                </div>
                <div class="row" style="text-align: center">
                    <div class="col-md-6" style="padding: 8px;padding-bottom: 0">
                        <div class="btn" style="width: 100%">
                            Check prices
                        </div>
                    </div>

                    <div class="col-md-6" style="padding: 8px; padding-bottom: 0">
                        <div class="btn" style="width: 100%">
                            Check trend
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

<!--<div layout-gt-md="row">
  <panel-widget flex title="Server Control Panel" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Autocomplete Input" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Performance" template="app/views/partials/performance.html" options="true"></panel-widget>
  <panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget>
</div>-->
