<md-bottom-sheet class="md-list md-has-header">
    <div style="height: 250px; overflow-x:hidden; overflow-y: scroll">
        <div class="col-md-2" style="margin: 0px;padding: 0px" ng-repeat="offer in vm.offers">
            <section layout-margin style=" min-height: 179px;" class="md-whiteframe-z1 panel-widget">
                <h class="pull-right" style="margin: 0;font-size: smaller">{{offer.shop_name}}</h>
                <br>
                <div style="text-align: center"><h5 style="font-weight: 700; font-size: large">{{offer.name.substring(0, 30)}}...</h5></div>
                <div class="row" style="margin-top: 50%">
                    <div class="col-md-6" style="padding: 0"><h ><i class="fa fa-gbp" aria-hidden="true"></i> {{offer.price}}</h></div>
                    <div class="col-md-6 pull-right" style="padding: 0"> <h><i class="fa fa-link" aria-hidden="true"></i> <a href={{offer.url}}>Buy now!</a></h></div>
                </div>
            </section>
        </div>
    </div>
</md-bottom-sheet>
